<table class="kenmerk_resultaten">
<tr>
    <th>Naam</th>
    <th>Invoertype</th>
    <th>Categorie</th>
</tr>

[% FOREACH result = results %]
<tr class="select-row" id="[% result.id %]">
    <td class="td250 kenmerk_naam">[% result.naam %]</td>
    <td class="td150">[% result.invoertype %]</td>
    <td class="td150">[% result.categorie %]</td>
</tr>
[% END %]

</table>