<div class="case-detail-view__header" ng-style="{ 'background-color': caseDetailView.getStyle()['background-color'] }">

	<div class="case-detail-view__header-container">

		<button class="case-detail-view__header-button" ng-click="caseDetailView.goBack()">
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>
		<div class="case-detail-view__header-title">
			{{caseDetailView.getTitle()}}
		</div>
		
	</div>
	
</div>

<div class="case-detail-view__body">

	<zs-map
		ng-if="caseDetailView.getMarker().length"
		data-markers="caseDetailView.getMarker()"
		popup-mode="'always'"
		data-center="caseDetailView.getCenter()"
		data-zoom="12"
		available-options="[]"
		marker-style="caseDetailView.getMarkerStyle()"
	>
	</zs-map>

	<div 
		class="case-detail-view__button-container"
		ng-if="caseDetailView.isCaseOpen()"
	>
		<button
			class="btn btn-secondary"
			ng-click="caseDetailView.handleCase()"			
		>
			<span ng-if="!caseDetailView.getAssigned()">In behandeling nemen</span>
			<span ng-if="caseDetailView.getAssigned()">Afhandelen</span>
		</button>
	</div>

	<div 
		class="case-detail-view__completed-values-container"
		ng-if="!caseDetailView.isCaseOpen()"
	>
		<zs-icon icon-type="check-all"></zs-icon>
		<span>Melding is afgehandeld.</span>
		<ul class="case-detail-view__list">
			<li 
				class="case-detail-view__item"
				ng-repeat="field in caseDetailView.getCompletedFields() track by field.id"
				ng-show="field.template"
			>
				<div class="case-detail-view__label">{{::field.label}}</div>
				<div class="case-detail-view__value" ng-bind-html="field.template"></div>
			</li>
		</ul>
	</div>

	<ul class="case-detail-view__list">
		<li 
			class="case-detail-view__item"
			ng-repeat="field in caseDetailView.getFields() track by field.id"
		>
			<div class="case-detail-view__label">{{::field.label}}</div>
			<div class="case-detail-view__value" ng-bind-html="field.template"></div>
		</li>
		<li ng-if="caseDetailView.getAttachments().length" class="case-detail-view__label">Bijlagen</li>
		<li class="case-detail-view__file" ng-repeat="file in caseDetailView.getAttachments() track by file.id">
			<a ng-href="{{caseDetailView.getFileUrl(file.filestore_id.uuid)}}">
				<zs-icon icon-type="file"></zs-icon>
				<div class="case-detail-view__value">{{::file.name}}{{::file.extension}}</div>		
			</a>
		</li>
	</ul>

</div>
