@import '../../../../shared/styles/_breakpoints.scss';

$transition-duration: 0.35s;
$transition-scale: 1;

/*  VOTE BAR */
proposal-vote-bar{
	position: fixed;
	z-index: 1;
	width: 100%;
	bottom: 0;

	.proposal-vote-bar__container{
		display: flex;
		height: 54px;
		width: 100%;
		font-size: 1rem;
		padding: 0;
		background: rgb(253,249,248);
		border-top: solid 1px rgb(238,234,233);

		> div{
			width: 100%;
		}
	}

	.proposal-vote-bar__votedbar{
		padding: 8px 15px;
	}

	zs-spinner{
		margin: auto;
	}

	.vote-button{
		flex-grow: 1;
		width: 33.33%;
		background: rgb(253,249,248);
		border: solid 1px rgb(238,234,233);
		border-top: 0;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 0.933rem;
		height: 54px;
		line-height: 16px;

		&:disabled{
			color: #ccc;
		}
	}

	zs-icon{
		font-size: 20px;
	}

	.edit-button{
		height:36px;
		line-height: 36px;
		background: none;
		border: 0;
		color: #666;
		font-size: 0.933rem;
		text-transform: uppercase;
		border-radius: 5px;
		font-weight: 500;
		padding:0 10px;
		float: right;

		&:hover {
			background:rgba(0,0,0,0.1);
		} 
	}

}

/* 
 VOTE MODAL
 */

.vote-modal .zs-modal-body{
	background: white;

	.proposal-vote-view__header {
		position: fixed;
		top: 0;
		z-index: 2;
		width: 100%;
		padding: 10px 15px;
		height:54px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		background: rgb(253,249,248);
	}

	.proposal-vote-view__header-container{
		display: flex;
	}

	.proposal-vote-view__header-buttons{
		margin-left: auto;
		display: flex;

		button{
			width: auto;
			height:36px;
			line-height: 36px;
			background: none;
			border: 0;
			color: #666;
			font-size: 0.933rem;
			text-transform: uppercase;
			border-radius: 5px;
			font-weight: 500;
			padding:0 10px;

			span{
				display: block;
			}

			zs-icon{
				display: none;
			}

			&:hover {
				background:rgba(0,0,0,0.1);
			}
		}
	}


	.proposal-vote-view__header-title {
		font-size: 18px;
		color: #666;
		align-self:center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: -4px;
	}

	.proposal-vote-view__body{
		position: absolute;
		top: 0;
		padding: 70px 15px 15px 15px;
		height: 100%;
		width: 100%;
		display: flex;
    	flex-direction: column;
	}

	textarea{
		border: none;
		display: flex;
		font-size: 16px;
		resize: none; 
		padding: 0;
		height: 100%;
		max-width:60rem;

		&:focus{
			outline: none;
		}
	}

}


@media #{$small-and-down}{
	proposal-vote-bar{
		.vote-button{
			font-size: 0.84rem;
		}
	}
	.vote-modal .zs-modal-body{
		.proposal-vote-view__header-buttons{
			button{
				span{
					display: none;
				}
				zs-icon{
					font-size: 2em;
					display: block;
				}
			}
		}
		.proposal-vote-view__header-title{
			font-size: 17px;
			margin-top: -1px;
		}
	}
}


.vote-modal {
	z-index: 30;

	.zs-modal-header {
		display: none;
	}

	&.ng-enter {
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-enter-active  {
		animation: vote-modal-in #{$transition-duration};
	}

	&.ng-leave-active {
		animation: vote-modal-out #{$transition-duration};
	}

}

.vote-modal + meeting-app {
	opacity: 0.5;
}

.vote-modal.ng-enter-active + meeting-app {
	animation: view-out #{$transition-duration};
}

.vote-modal.ng-leave-active + meeting-app {
	animation: view-in #{$transition-duration};
}

@keyframes vote-modal-in {
	0%, 50% { transform: translateY(100%); }
	100% { transform: translateY(0); }
}

@keyframes vote-modal-out {
	0% { transform: translateY(0); }
	50%, 100% { transform: translateY(100%); }
}

@keyframes view-in {
	0%, 50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}

}

@keyframes view-out {
	0% {
		opacity: 1;
	}
	50%, 100% {
		opacity: 0.5;
	}
}



/* VOTE CHANGE CONFIRMATION MODAL  */

.zs-modal.confirm{
	transition: all cubic-bezier(0.4,0,.2,1) #{$transition-duration};
	z-index: 20;

	.zs-modal-body{
		width: 300px;
		height:auto;
	}

	.confirm-actions{
		padding: 15px;
		display:flex;
		justify-content:flex-end;
	}

	button{
		float: left;
	}

	&.ng-enter {
		opacity: 0;
	}

	&.ng-enter-active{
		opacity: 1;
	}

	&.ng-leave {
		opacity: 1;
	}

	&.ng-leave-active{
		opacity: 0;
	}

}

.zs-modal.confirm.ng-enter-active .zs-modal-body{
	animation: confirm-modal-body-in #{$transition-duration};
}

.zs-modal.confirm.ng-leave-active .zs-modal-body{
	animation: confirm-modal-body-out #{$transition-duration};
}

@keyframes confirm-modal-body-in {
	0%, 50% { transform: scale3d(0.7,0.7,0.7); opacity: 0;}
	100% { transform: scale3d(1,1,1); opacity: 1;}
}

@keyframes confirm-modal-body-out {
	0% { transform: scale3d(1,1,1); opacity: 1;}
	50%, 100% { transform: scale3d(0.7,0.7,0.7); opacity: 0;}
}
