<div
	class="suggestion-list-container"
	zs-keyboard-navigable-list
	highlightable-items="$ctrl.suggestions()"
	key-input-delegate="$ctrl.getKeyInputDelegate()"
	on-key-commit="$ctrl.handleKeyCommit($item, $event)"
	on-key-highlight="$ctrl.handleHighlight($item, $event)"
>
	<div
		class="suggestion-list-empty ng-cloak"
		ng-show="!!$ctrl.label"
	>
		{{$ctrl.label}}
	</div>

	<div
		ng-repeat="groupType in $ctrl.getGroups() track by groupType.name"
	>
		<span
			class="suggestion-list-group-label"
			ng-show="!!groupType.label"
		>
			{{groupType.label}}
			<zs-icon
				icon-type="information"
				zs-tooltip="Meer resultaten beschikbaar in externe bron dan hier getoond kunnen worden. Probeer een meer specifieke zoekopdracht."
				ng-if="groupType.moreResults"
			></zs-icon>
		</span>

		<div
			class="suggestion-list-group"
			ng-repeat="group in groupType.groups track by group.type"
		>
			<ul 
				class="suggestion-list"
				id="{{::$ctrl.listId}}"
			>
				<li
					class="suggestion-list-item"
					ng-repeat="suggestion in group.items track by suggestion.id"
					id="{{::suggestion.id}}"
					ng-class="{ 'suggestion-list-item-highlighted': $ctrl.isHighlighted(suggestion) }"
				>
					<button
						class="suggestion"
						type="button"
						ng-click="$ctrl.handleSuggestionClick(suggestion)"
					>
						<div class="suggestion-label">
							<zs-icon
								icon-type="{{suggestion.iconClass}}"
								ng-show="!!suggestion.iconClass"
							></zs-icon>
							<span class="suggestion-text">{{suggestion.label}}</span>
						</div>
						<div
							class="suggestion-description"
							ng-show="suggestion.description"
						>{{suggestion.description}}
						</div>
					</button>
				</li>
			</ul>

			<button
				class="suggestion-list-group-more-button btn btn-flat"
				type="button"
				ng-click="group.click()"
				ng-disabled="$ctrl.isLoading()"
				ng-show="group.truncated"
			>
				Bekijk meer resultaten
			</button>
		</div>
	</div>
</div>
