<div class="block">
<div class="block-header clearfix">
	<div class="block-header-title">Geannuleerd</div>
</div>
<div class="block-content">
<p>U heeft het aanmaken van een zaak succesvol geannuleerd. Klik op "Nieuwe
Zaak" om een nieuwe zaak aan te maken.</p>
</div>
