<div class="kenmerk-veld row">

[%-
mapping = {

    "naam" = { help = "De naam van uw organisatie. Deze naam is ook te zien in de URL balk" },
    "naam_lang" = {
        help = "Deze naam wordt ondermeer gebruikt indien er een zaakregistratie heeft plaatsgevonden.",
        label = "Lange naam",
    },
    "naam_kort" = {
        help = "Deze naam wordt ondermeer gebruikt voor e-mailfunctionaliteiten",
        label = "Korte naam",
    },
    "woonplaats" = { help = "De vestigingsplaats van uw organisatie"},
    "adres" = { help = "Het volledige adres van uw vestiging"},
    "straatnaam" = { help = "De straatnaam van uw vestiging"},
    "huisnummer" = { help = "Het huisnummer van uw vestiging"},
    "postcode" = { help = "De postcode van uw vestiging"},
    "postbus" = { help = "De postbus van uw vestiging"},
    "postbus_postcode" = { label = "Postcode van de postbus", help = "De postcode van uw postbus van uw vestiging"},
    "website" = { help = "De URL van uw website"},
    "email" = { help = "Uw algemene e-mailadres"},
    "telefoonnummer" = { help = "Het telefoonnummer van uw vestiging"},
    "faxnummer" = { help = "Het faxnummer van uw vestiging"},
    "zaak_email" = {
        label = "Emailadres voor mailfunctionaliteiten",
        help = "Het mailadres van voor uw zaakcorrespondentie. Deze optie wordt uitgefaseerd, gebruik de 'Uitgaande mailkoppeling in het koppelingsoverzicht'"},
    "latitude" = { help = "De latitude van uw vestiging. Voor gebruik van de kaartfunctionaliteiten."},
    "longitude" = { help = "De longitude van uw vestiging. Voor gebruik van de kaartfunctionaliteiten."},
    "gemeente_id_url" = {
        label = "URL voor het aanvragen van een bedrijven-ID",
        help = "Deze URL wordt gebruikt voor het aanvragen van een bedrijven-ID, zoals bijvoorbeeld het mintlabID.  Deze wordt steeds minder gebruikt vanwege eHerkenning."
    },
    "gemeente_portal" = {
        label = "URL van uw producten en diensten pagina",
        help = "De URL van uw producten en dienstenpagina, deze wordt gebruikt indien een klant een aanvraag annuleerd."
    },
}

order = [
    "naam"
    "naam_lang"
    "naam_kort"
    "woonplaats"
    "adres"
    "straatnaam"
    "huisnummer"
    "postcode"
    "postbus"
    "postbus_postcode"
    "website"
    "email"
    "telefoonnummer"
    "faxnummer"
    "zaak_email"
    "latitude"
    "longitude"
    "gemeente_id_url"
    "gemeente_portal"
]

%]

[% FOREACH parameter IN order %]
    [%- label = mapping.$parameter.label;
        IF !label;
            label = parameter;
        END;
    %]
    <div class="column large-4">
        <div class="field-label field-has-help">
            <div class="field-help">
                [% PROCESS widgets/general/dropdown.tt
                    icon = 'icon-question-sign',
                    icon_type = 'icon-font-awesome',
                    dropdown_content = mapping.$parameter.help
                %]
            </div>
          <label>[% label | ucfirst %]</label>
        </div>
    </div>
    <div class="column large-8">
        <div class="field">
            <input type="text" name="customer_info_[% parameter %]" value="[% config.$parameter %]" />
        </div>

    </div>
[% END %]

</div>
