<!-- Container top -->
[% USE Scalar %]

[% IF layout_type != 'simple' %]

    [% IF c.user_exists %]
    <zs-viewless-intern
        on-open="spotEnlighterOpen=true"
        on-close="spotEnlighterOpen=false"
    >
    </zs-viewless-intern>

    <zs-snackbar>
    </zs-snackbar>

    [% ELSE %]
    <div class="top-bar">
        <div class="header-left clearfix"></div>

        <h1 class="branding">
            <a href="/">Gemeente [% c.config.gemeente_id %]</a>
        </h1>
    </div>
    [% END %]
    
[% END %]

<!-- END Container top -->

<script type="text/ng-template" id="/html/notification/notification-type-feedback.html" class="ng-cloak">
    <span class="notification-content-message">
        <span data-ng-show="notification.data.logging_id.case_id">
            <span
            class="notification-content-message-header"><[notification.data.created_by || notification.data.aanvrager]> heeft u een bericht gestuurd over <a class="notification-content-link" href="/zaak/<[notification.data.logging_id.case_id]>">zaak <[notification.data.logging_id.case_id]></a> (<[notification.data.case_type]>):</span>
            <a class="notification-content-message-content"
               data-ng-href="/zaak/<[notification.data.logging_id.case_id]>/?tab=<[ notification.case_tab_destination ]>&message_id=<[notification.id]>&eventId=<[notification.data.logging_id.id]>">
               <[notification.data.message|truncate:50]></a>
        </span>
        <span data-ng-show="notification.data.logging_id.event_type == 'user/apply'">
            <span class="notification-content-message-header">Nieuwe aanmelding "<[notification.data.logging_id.user_displayname]>" wil graag
            <a class="notification-content-link" href="[% c.uri_for('/medewerker', {parent_identifier => 'inbox'}) %]&set_read=<[notification.id]>">gebruik maken</a> van zaaksysteem in afdeling "<[notification.data.logging_id.group_name]>"</span>
        </span>

    </span>
</script>

<script type="text/zs-scope-data" data-zs-scope-data-root>
    [% betrokkene_session %]
</script>
