<div data-ng-controller="nl.mintlab.user.AlternativeAuthenticationController" class="contact-alternative-authenicatie-wijzigen contact-settings-block">

[% IF !pip_session %]
  <h3>Alternatieve authenticatie</h3>
[% END %]

[%-
  model   = c.model('Auth::Alternative');
  subject = model.find_subject_by_betrokkene(betrokkene);

  email     = betrokkene.email;
  phone     = betrokkene.mobiel;
  type      = betrokkene.btype;
  username  = email;
  bid       = betrokkene.gm_object.id;
  is_active = 0;

  save_uri       = c.uri_for('/betrokkene/generate_alternative_authentication/' _ bid );
  activation_uri = c.uri_for('/betrokkene/send_activation_link/' _ bid );
  IF pip_session;
    save_uri     = c.uri_for('/pip/' _ current_page);
  END;

  IF subject;
    username  = subject.username;
    email     = subject.properties.email_address;
    phone     = subject.properties.phone_number;
    is_active = subject.is_active || 0;
  END;

  IF email == username;
    email = '';
  END;

%]

[% # This is very defensive programmig. If you don't have two fa, you
   # cannot login to the pip in the first place..
IF !pip_session || (pip_session && is_active ) %]

  <div data-zs-form-template-parser="<[altAuthForm]>" />
    <script type="text/zs-scope-data">
    {
      "altAuthForm": {
        "name": "set_username",
        "actions": [
          {
            "name": "submit",
            "type": "submit",
            "label": "Opslaan",
            "importance": "primary",
            "data": {
              "url": "[% save_uri %]"
            }
          }
          [% IF !pip_session && subject %]
          ,
          {
            "name": "submit",
            "type": "submit",
            "label": "Verstuur activatiemail",
            "importance": "primary",
            "data": {
              "url": "[% activation_uri %]"
            }
          }
          [% END %]
        ],
        "fieldsets": [
          {
            "name": "username-change",
            "fields": [
              {
                "name": "username",
                "label": [% IF !email %]"Gebruikersnaam/emailadres"
                         [% ELSE %]"Gebruikersnaam"[% END %],
                "type": "text",
                "required": true,
                "value": "[% username | html %]"
              },
              {
                "name": "phone",
                "label": "Mobiel telefoonnummer",
                "type": "text",
                "required": true,
                "value": "[% phone %]"
              },
              [% IF email %]
              {
                "name": "email",
                "label": "Emailadres",
                "type": "text",
                "required": true,
                "value": "[% email | html %]"
              },
              [% END %]
              [% IF !pip_session %]
              {
                "name": "active",
                "label": "Accountstatus",
                "type": "radio",
                "required": false,
                "data" : {
                  "options" : [
                    {
                      "label" : "Actief",
                      "value" : "1"
                    },
                    {
                      "label" : "Inactief",
                      "value" : "0"
                    }
                  ]
                },
                "value": "[% is_active %]"
              },
              [% ELSE %]
              {
                "name": "password",
                "label": "Wachtwoord",
                "type": "text",
                "required": false
              },
              {
                "name": "password_check",
                "label": "Wachtwoord (herhaling)",
                "type": "text",
                "required": false
              },
              [% END %]
              {
                "name": "subject_type",
                "label": "Accounttype",
                "type": "hidden",
                "required": true,
                "value": "[% type | html %]"
              }
            ]
          }
        ]
      }
    }
    </script>
[% END %]


</div>
