<ul
	class="message-list"
>
	<li
		ng-repeat="message in $ctrl.activeMessages track by message.id"
		data-name="{{::message.name}}"
		class="case-message"
	>
		<div
			class="case-message-text"
		>
			<span
				class="case-message-label"
			>{{::message.message}}.</span>
			<div
				ng-show="message.actions.length"
				class="case-message-action-list"
			>
				<div
					ng-repeat="action in message.actions"
					class="case-message-action"
				>
					<button
						ng-click="action.click()"
						class="case-message-action-button btn btn-flat"
						type="button"
					>{{::action.label}}</button>
				</div>
			</div>
		</div>
		<button
			ng-click="$ctrl.hideMessage(message)"
			class="case-message-hide-button button-reset"
			type="button"
		>
			<zs-icon
				icon-type="close"
			></zs-icon>
		</button>
	</li>
</ul>
