.document-upload-component {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s 10s ease, visibility 0s 10s;
	position: fixed;
	width: 500px;
	background:$snackbar-info-bg-color;
	position: fixed;
	left:18px;
	bottom:18px;
	box-shadow:#{$shadow};
	padding: 1.1rem 1rem;
	color: #fff;
	z-index: 100;
	border-radius:$border-radius;
	font-size:.9rem;
	&.document-upload-component-error{
		background:$snackbar-error-bg-color;
	}
	a{
		color:$accent-color;
		text-decoration: underline;
	}
}

.document-upload-component-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.25s ease;
}

.doc-ul-progress-bar{
	background:rgba(255,255,255,.15);
	border-radius:10px;
	margin-bottom:5px;
}

.doc-ul-progress-bar-inner{
	background: $accent-color;
	background-position: 0 -10px;
	height: 6px;
	border-radius:10px;
	transition: width 0.15s ease;
}

.doc-ul-progress-info{
	padding: 0 2px;
	display: flex;
	margin-bottom:10px;
}

.doc-ul-progress-info-right{
	margin-left:auto;
}

.doc-ul-progress-result{
	> div{
		display: flex;
		align-items: center;
		i{
			font-size:1.5rem;
			margin-right:10px;
		}
	}
}